header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;


}
body{
    font-family: 'Fjalla One', sans-serif;
}
.formato-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    



    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;

    color: #000000;
    


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
a{
    padding: 5px;
}

.foto-redonda{
    
    width: 247px;
    height: 247px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 180px;
    

/* Inside auto layout */


}
.bloco-paragrafo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 75px;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.main-paragrafo{
    width: 400px;
}
.main-paragrafo h1{
    margin-bottom: 15px;
}
/* 1ºem cima e em baixo*/
.section-list{
    background-color: rgb(245, 244, 244);
    padding: 15px 0 ;
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}

.hobbies-box{
    
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 45%;


}

.hobbies-box ul{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.titulo-hobbies{
    text-align: end;
    font-size: 1.5em;
    font-weight: 500;
}
.interesses-box{
    
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 45%;
}
.interesses-box ol{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.hobbies-box ul li{
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 105px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    
}
.interesses-box ol li{
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 105px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    position: relative;
    background-position: center;

    

}
.interesses-box ol li:hover, .hobbies-box ul li:hover{
    transform: scale(1.2);
    transition: 200ms linear;
}

.titulo-interesses{
    font-size: 1.5em;
    font-weight: 500;
}
.numeracao{
    position: absolute;
    top: 0 ;
    left: 0.5em;
    background-color:#a09f9f;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}
footer{
    background-color: #a09f9f;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    

}
